body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #ffe6f0;
    margin: 0;
    padding: 0;
}

.container {
    padding: 30px;
}

h1 {
    color: #ff4d99;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

.buttons a,
.back {
    display: inline-block;
    margin: 10px;
    padding: 12px 25px;
    background: #ff80bf;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

.buttons a:hover,
.back:hover {
    background: #ff4d99;
}

.gallery img {
    width: 45%;
    margin: 5px;
    border-radius: 10px;
}
